<% provide(:title, "About") %>

<h1 class="title">About</h1>
<h3 class="mt-4 text-secondary text-center">Welcome to the About  page of our news site!</h3>
<div class="mt-5" id="help">
  <p>We are a team of journalism and web development experts who work 
   together to bring you the most relevant and interesting news from various walks of life.</p>
  <p>Our goal is to provide you with the fastest and most accurate news content to help you stay on top of the days most important events.</p>
  <p>We write about everything from global events and the political situation in the world to cultural events
   and entertainment. We are always on the lookout for trends to provide you with the best reading and information experience.</p>
   <p>Our team consists of journalists, editors and technical specialists who have a variety of experience and skills in their fields.
    We pride ourselves on our expertise and the work we do to help you find the best information.</p>
  <p>We are also always open to your suggestions and wishes. If you have any ideas for topics we could write about, please contact us and let us know.</p>
  <p>Thank you for visiting our site and believing in our work. Our mission is to make news accessible and understandable for everyone.</p>
</div>
