<% provide(:title, "Contact") %>

<h1 class="title">Our contacts</h1>
<h3 class="mt-4 text-secondary text-center">We are always happy to communicate.</h3>
<h3 class="text-center text-secondary mb-5">If you have any questions - ask!</h3> 

<div class="row">
  <div class="col col-sm-12 col-lg-8" >
    <form class="mt-5 border p-5" id="feedbackform">
      <h4 class="text-center mb-3">Feedback</h4>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Your name</label>
        <input type="email" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Your number</label>
        <input type="email" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Well never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Ask a question</label>
        <input type="text" class="form-control bg-light" id="exampleInputPassword1">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="col col-sm-12 col-lg-4 mt-5">
    <h4 class="border-bottom text-center">Contacts</h4>
    <div class="lh-1 mt-3 row" id="contact">
      <div class="col col-sm col-lg-12" >
        <h5>Address</h5>
        <p>Chortkiv, Ukraine, 10, Kurnyak Str, 79035</p>
        <p>Ternopil, Ukraine, 20, Karpenko Str, 92421</p>
        <p>Lviv, Ukraine, 110, Independet Str, 32221</p>
        <p>Kyiv, Ukraine, 44, Bankova Str, 926721</p>
      </div>
      <div class="text-primary fw-bolder col col-sm col-lg-12 mt-3">
        <h5>Phone</h5>
        <p>+380504327707</p>
        <p>+380504327706</p>
        <p>+380504327705</p>
        <p>+380504327704</p>
        <p>+380504327707</p>
      </div>
      <div class="col col-sm col-lg-12 mt-3">
        <h5>Email</h5>
        <p>fedynpetro@gmail.com</p>
        <p>romanilchyshyn@gmail.com</p>
        <p>mishailchyshyn@gmail.com</p>
      </div>
    </div>
  </div>
</div>
