<% provide(:title, "Help") %>

<h1 class="title">Help</h1>
<h3 class="mt-4 text-secondary text-center">Welcome to the blog help page!</h3>
<div class="mt-5 fs-20">
  <p>
    ;lsdjkv;dlsfjmv;sdfmv;dsflmvd;lbml;df
    dls;jkfvds;jmf;d;fjmgvd;slgmvdlos;flm
  </p>
  <p>
    ;lsdjkv;dlsfjmv;sdfmv;dsflmvd;lbml;df
    dls;jkfvds;jmf;d;fjmgvd;slgmvdlos;flm
  </p>
</div>
