<% provide(:title, "Help") %>

<h1 class="title">Help</h1>
<h3 class="mt-4 text-secondary text-center">Welcome to the blog help page!</h3>
<div class="mt-5" id="help">
  <p>We understand that sometimes you may have questions and problems when using our site.
   That's why we've created this help page to help you if you need it.</p>
  <p>If you have questions about how the site works, how to open a certain article or 
   how to find information about a certain topic, please use our site search or contact our support team.</p>
  <p>If you feel that the site has errors or something is not working as it should, please let our development team know.
   We greatly appreciate any feedback you may have regarding our sites performance, as it helps us to continually improve our services.</p>
  <p>Rest assured that we are doing our best to make our site easy and understandable for you.
   We follow the latest trends in technology and news to provide you with the best user experience.</p>
  <p>If you have any other questions or suggestions for improving our site, please contact us.
   We are always happy to hear your opinion and help you in all matters!</p>
</div>
