<% provide(:title, "Sign in") %>

<h1 class="title">Sign in</h1>

<form class="mt-5 border p-5 mx-auto" id="formsign">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Your name</label>
    <input type="email" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Well never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control bg-light" id="exampleInputPassword1">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Repeat password</label>
    <input type="password" class="form-control bg-light" id="exampleInputPassword1">
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
