<% provide(:title, "Arhived articles") %>

<h1 class="title">Arhived articles</h1>

<% if @archived_articles.present? %>
  <%= render 'articles/articles', articles: @archived_articles %>
<% else %>
<div class="text-center mt-1 text-secondary">
  <h2>Your arhived articles list is empty</h2>
  <h5>You don't have any arhived articles right now</h5>
  <img src="<%= asset_path('index-article-img.jpg') %>" class="index-img">
</div>
<% end %>
