<main>
  <% provide(:title, "Arhived articles") %>

  <h1 class="title">Arhived articles</h1>

  <% if @archived_articles.present? %>
    <%= render 'articles/articles', article: @archived_articles %>
  <% else %>
    <div class="center-absolute">
      <h2>There is no archived articles yet</h2>
    </div>
  <% end %>
</main>
