<% provide(:title, "Articles") %>

<h1 class="title">Articles</h1>

<% if user_signed_in? %>
  <ul class="nav mx-4 justify-content-between">
    <li><%= link_to "Arhived articles",  archived_articles_path, class: "btn btn-primary" %></li>
    <li><%= link_to "New Article", new_article_path, class: "btn btn-primary" %></li>
  </ul>
<% end %>

<% if @articles.present? %>
  <%= render 'articles/articles', articles: @articles %>
<% else %>
  <div class="text-center mt-1 text-secondary">
    <h2>Your articles list is empty</h2>
    <h5>You don't have any articles right now</h5>
    <img src="<%= asset_path('index-article-img.jpg') %>" class="index-img">
  </div>
<% end %>
