@import "bootstrap";

/* universal */

html {
  height: 100%;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  position: relative;
  min-height: 100%;
}

.container {
  line-height: 2;
}

a, a:hover, a:active { 
  text-decoration: none; 
  color: #fff; 
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(207, 207, 207, 0.6);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#menu {
  li {
    padding-right: auto;
    padding-top: auto;
    margin-right: 20px;
  }
  a:hover {
    color: rgb(240, 240, 240);
    text-decoration: none;
  }
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
  margin-left: -80px;
}

.btn-dropdown {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 9px;
  margin-right: 9px;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid rgb(201, 201, 201);
  color: gray;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  p {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Flash notice */

.alert-notice {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-errors {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

#card-flex {
  padding-left: 9px;
}

#feedbackform {
  width: 75%;
}

#contact {
 line-height: 2;
}

#help {
  font-size: 20px;
}

#articlebody {
  width: 80%;
  font-size: 20px;
}

#formsign {
  width: 50%;
}

#addcommentform {
  width: 45%;
}

#comment {
  padding-top: 50px;
  padding-right: 12px;
  flex-direction: row-reverse;
  h2 {
    margin-bottom: 2rem;
   }
}

#showimg {
  width: 85%;
  padding-top: 12px;
  display: block;
}

#newform {
  width: 50%;
}

#card {
  justify-content: flex-start;
  width: 24rem;
  box-sizing: content-box;
}

/* Mediaquery */

@media (max-width: 1400px) {
  #card-flex {
    justify-content: flex-start;
  }
  #card {
    width: 20rem;
    box-sizing: content-box;
  }
  .right-margin {
    margin-right: 13px;
  }
}

@media (max-width: 1200px) {
  #card {
    width: 25rem;
    box-sizing: content-box;
  }
  .right-margin {
    margin-right: 35px;
  }
}
@media (max-width: 991px) {
  #contact {
    padding: 10px;
    border: 1px solid rgba(207, 207, 207, 0.6);
  }
  #feedbackform{
    width: 100%;
    justify-content: center;
  }
  #formsign{
    width: 100%;
  }
  #addcommentform{
    width: 100%;
  }
  #articlebody {
    width: 100%;
    font-size: 20px;
  }
  #showimg {
    width: 100%;
    padding-top: 1px;
  }
  #newform {
    width: 100%;
  }
  #card{
    width: 18rem;
    box-sizing: content-box;
  }
  #comment{
    flex-direction: column-reverse;
    padding-top: 15px;
   h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
   }
  }
  .right-margin {
    margin-right: 20px;
  }
}

@media (max-width: 768px)  {
  #card {
    width: 30rem;
    justify-content: center;
    box-sizing: content-box;
  }
  .right-margin {
    margin-right: -20px;
  }
  .title {
    width: 60%;
  }
}
