<footer class="text-muted py-5">
  <button class="float-end mb-1 btn btn-outline-primary">
    <%= link_to t('buttons.up'), '#' %>
  </button>
  <p class="mb-1">© <%= Date.today.year %> Blog. All rights reserved.</p>
</footer>
